body{
	font-family: 微软雅黑 黑体 宋体;
	margin: 0px;
}

div.HClinks{
	background-color: #333;
	padding:5px;
	height:30px;
}

		ul.HClinks{
			list-style: none;
			padding-left: 0px;
			background-color: #333;
			margin: 0px;
		}

		li.HClinks{
			padding: 5px;
			float: left;
		}
				a.HClinks:hover{
					background-color: #555;
				}

				a.HClinks{
						text-decoration: none;
						color: #fff;
						padding: 5px 5px 5px 5px;
				}
					img.HClinks-home{
						height: 18px;
						width: 18px;
					}


.title{
	font-size: 300%;
	color: white;
	background-color: #333;
	padding: 150px;
	margin-top: 0px;
}

.introduction{
	font-size: 20px;
}

.sub-headers{
	padding: 20px 0px 10px 20px;
}
.passages{
	padding: 10px 0px 10px 20px;
	width: 600px;
}

.end{
	background-color: #333;
	padding: 10px;
	margin-top: 100px;
	color: white;
	font-size: 80%;
        position: absolute;
        bottom: 20px;
}

.copyright{
	font-size: 75%;
	color: #888;
	margin-bottom:10px;
	margin-top: 10px;
}

/*
[滑稽]
*/
